// ELEMENTS
body {
	font-family: $site-font;
}
.container {

	background-color: red;
	background-image: url("../img/bg.gif");
	background-attachment: fixed;
	//FLEXBOX
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: space-around;

	@include laptop() {

	}
}
img {
	width: 100%;
}

// NAVIGATION
nav {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;

	//FLEXBOX
	display: flex;
	-webkit-flex-flow: row no wrap;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;

	order: 1;

	@include laptop () {
		background-color: orange;
		align-items: center;
	}
}
nav .home-logo {
	order: 1;
	flex: none auto 20px;
	align-items: flex-start;
	align-self: flex-start;

	@include laptop() {
		flex-basis: 150px;
	}
}
nav ul {
	background-color: white;
	list-style: none;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;

	order: 2;
	flex: 1 3 90%;

	li {
		flex: 1 3 90%;
		// flex-basis: 100%;
		align-items: flex-end;
		align-self: flex-end;

		background-color: pink;
	}

	@include laptop() {
		background-color: white;
		// order: 2;
		flex-basis: 60%;
		align-items: center;
	
		li {
			flex-basis: 10%;
			margin-left: 30px;
		}
	}
	
}

// VIDEO
.intro {
	background-color: purple;
	order: 2;
	flex: 1 1 100%;
}

// INTRO
.section1 {
	padding-top: 100px;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	order: 3;
}
.heading1 {
	order: 1;
	flex: 2 2 100%;
	align-items: flex-start; 
	align-self: flex-start;
	background-color: pink;

	@include laptop() {
		flex-basis: 16%;
	}
	
}
.description {
	order: 2;
	flex: 2 2 100%;
	align-items: flex-start; 
	align-self: flex-start;

	background-color: maroon;

	@include laptop() {
		flex-basis: 60%;
		margin-right: 20%;
	}
}

// ABOUT
.section2 {
	margin-top: 200px;

	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;

	order: 4;
}
.heading2 {
	order: 1;
	flex: 2 2 100%;
	align-items: flex-start; 
	align-self: flex-start;

	background-color: pink;

	@include laptop() {
		flex-basis: 16%;
	}
}
.about {
	order: 2;
	flex: 1 2 100%;
	align-items: flex-start; 
	align-self: flex-start;

	@include laptop() {
		flex-basis: 30%;
		margin-right: 30%;
		p {
			flex: 2 2 10%;
			margin-right: 10%;
		}
	}
}

// TESTIMONIALS
.section3 {
	margin-top: 200px;

	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;

	order: 5;
}
.testimony1 {
	order: 1;
	flex: 1 3 100%;
	align-items: center;
	@include laptop() {
		flex-basis: 20%;
		margin: 0 5%;
	}
}
.testimony2 {
	order: 2;
	flex: 1 3 100%;
	align-items: center;
	@include laptop() {
		flex-basis: 20%;
		margin: 0 5%;
	}
}
.testimony3 {
	order: 3;
	flex: 1 3 100%;
	align-items: center;
	@include laptop() {
		flex-basis: 20%;
		margin: 0 5%;
	}
}
.download {
	order: 4;
	align-items: center;
	flex: 3 3 100%;

	text-align: center;
	background-color: yellow;

	@include laptop() {
		background-color: yellow;
		flex-basis: 30%;
		margin: 100px 0%;
	}
}

// FOOTER
footer {
	order: 6;
	flex: 1 1 100%;
	margin-top: 100px;

	background-color: blue;

	@include laptop() {
		background-color: orange;
		margin-top: 200px;
	}
}