@import "links";

// GENERAL ELEMENTS
body {
	font-family: $site-font;
	font-weight: $font-light;
	font-size: 100%;
	color: $drk-grey;
	width: 100%;
	height: 100%;
	background: url(../img/bkg.jpg);
}
.container {
	width: 100%;
	font-size: 1em; /*equivalent to 16px*/

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 100%;
		margin: 0 auto;

	}
}
img {
	width: 100%;
	max-width: 100%;
}
video {width: 100%;}

.gravitate {
	text-transform: lowercase;
	color: $orange;
	font-size: 1.28em;
}

// INTRODUCTION
.intro {
	width: 100%;
		margin-bottom: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-bottom: 56px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		margin-bottom: 250px;
	}
}

// CATCH PHRASE
blockquote {
	width: 94%;
	margin: 0 2%;
} 
.catch-phrase {
	margin-top: 30px;
	h2 {
		text-transform:lowercase;
		color: $orange;

		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			text-align: center;
			display: inline-block;
		}
	}
	h2:nth-child(2) {
		text-align: right;
		margin-top: -20px;

		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			text-align: center;
			display: inline-block;
		}
	}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 50px;
		text-align: center;
	}
}

// ABOUT

#mission {
	margin-bottom: 200px;
	padding-top: 50px;
	text-align: center;
}

.section1 {
	width: 100%;

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0 auto;

		// CLEAR FLOAT
		&::after {
			clear: both;
			visibility: hidden;
			content: "";
			display: block;
			height: 0;
		}
	}
}


#box {
	width: 100%;
	background-color: $offwhite;
}

.description1 {
	width: 100%;
	padding: 10px 0 10px 0;
	margin-bottom: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 60%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 40%;
		margin-left: 16%;
		margin-bottom: 250px;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		margin-left: 18%;
	}
}
.description2 {
	width: 100%;
	padding: 10px 0 10px 0;
	margin-bottom: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 60%;
		margin-left: 40%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 40%;
		margin-left: 32%;
		margin-bottom: 250px;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		margin-left: 45%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		margin-left: 32%;
	}
}
.description3 {
	width: 100%;
	padding: 10px 0 10px 0;
	margin-top: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 60%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 40%;
		margin-left: 16%;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 250px;
	}

	// SCREEN MIN-WIDTH 1280px
	@include lgscreen() {
		margin-left: 18%;
	}
}
.phone-mockup {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		max-width: 375px;
		margin-left: 40%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		margin-left: 0;
		float: right;
		position: absolute;
		top: 8%;
		right: 0;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		top: 3%;
	}
}


// TESTIMONIALS

.section3 {
	margin-top: 50px;
	width: 100%;
	background-color: #fff;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 60px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		margin-top: 250px;
	}

	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;

		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			width: 77%;
		}

		// SCREEN MIN-WIDTH 1024px
		@include tablet-w() {
			width: 100%;
			padding-top: 100px;
		}
	}
	li {
		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			display: block;
			width: 100%;

			// CLEAR FLOAT
			&::after {
				clear: both;
				visibility: hidden;
				content: "";
				display: block;
				height: 0;
			}
		}

		// SCREEN MIN-WIDTH 1024px
		@include tablet-w() {
			display: inline-block;
			width: 30%;
		}
	}
	li > img {
		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			display: inline-block;
			float: left;
			width: 45%;
		}

		// SCREEN MIN-WIDTH 1024px
		@include tablet-w() {
			display: inline-block;
			float: none;
			width: 100%;
			margin: 0;
		}
	}
	li > p {
		font-style: italic;

		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			display: inline-block;
			float: right;
			width: 100%;
			vertical-align: top;
			margin: 12% 5%;
		}

		// SCREEN MIN-WIDTH 1024px
		@include tablet-w() {
			display: inline-block;
			float: none;
			margin: 0 0;
			width: 100%;
			padding: 0 5%;
		}
	}
	li:nth-child(2) {
		img {
			float: right;

			// SCREEN MIN-WIDTH 1024px
			@include tablet-w() {
				float: none;
			}
		}
		p {
			float: left;

			// SCREEN MIN-WIDTH 1024px
			@include tablet-w() {
				float: none;
			}
		}
	}
}
.testimony1 {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-right: 10%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 20%;
		margin: 0 2.2% 0  0;
	}
}
.testimony2 {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-right: 4.1%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 20%;
		margin: 0 2.2%;
	}
}
.testimony3 {
	width: 100%;

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 20%;
		margin: 0 0 0 2.2%;
	}
}

// BUTTON
button {
	width: 90%;
	border: none;
	margin: 50px 5%;
	padding: 20px 0;
	background-color: $orange;
	text-transform: uppercase;
	color: $offwhite;
	font-weight: bold;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 70px;
		width: 35%;
		margin: 70px 32.5% 60px;
		padding: 30px 60px;
		border: none;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
	}
}

// SPONSOR PAGE

// HEADING
.sponsor-heading {
	width: 100%;
	text-align: center;
	background-color: $offwhite;
	padding: 10px 0;
	margin-bottom: 50px;
}
.sponsor {
	margin-bottom: 60px;
}
// DESCRIPTION
.sponsor-description {
	width: 100%;

	@include tablet() {
		width: 60%;
		margin: 0 auto;
	}

	@include laptop() {
		width: 50%;
	}

	@include desktop() {
		width: 46%;
	}

	@include lgscreen() {
		width: 40%;
	}
}
// FORM
form {
	width: 100%;
	border-top: 2px solid $orange;
	padding-top: 16px;
	// CLEAR FLOAT
	&::after {
		clear: both;
		visibility: hidden;
		content: "";
		display: block;
		height: 0;
	}
}
label, input {
	display: block;
}
label {
	width: 15%;
	margin-bottom: 6px;
}
input, textarea {
	width: 99%;
	margin-bottom: 10px;
	// border-color: $orange;
}
.sub-button {
	width: 100px;
	float: right;
	margin-right: 0;
}

// FOOTER
footer {
	width: 96%;
	margin-top: 50px 0;
	padding: 20px 2%;
	background-color: $orange;
}
.copy {
	text-align: center;
}